<html th:replace="~{Farmer/Farmerbase::layout(~{::main})}">
	<body>
		<main>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header bg-success">
							<div class="row px-4">
								<div class="col-sm-6">
									<h4 class="text-white m-0 fw-bold">Manage Products</h4>
								</div>
								<div class="col-sm-6 text-right">
									<a href="AddProduct" class="btn btn-danger btn-sm">
										<i class="la la-plus-circle"></i>
										Add Product
									</a>
								</div> 
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="example">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Product Image</th>
											<th>Product Name</th>
											<th>Quantity</th>
											<th>Price/Unit</th>
											<th>Category</th>
											<th>Availability</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product, srno : ${productsList}">
											<td class="text-center" th:text="${srno.index+1}"></td>
											<td>
												<img alt="image not found" th:src="@{'/ProductImage/' + ${product.productImage}}" width="60px" height="60px" class="border p-1">  		
											</td>
											<td th:text="${product.productName}"></td>
											<td th:text="${product.quantity}"></td>
											<td th:text="${product.pricePerUnit + ' Rs.'}"></td>
											<td th:text="${product.category}"></td>
											<td th:text="${product.status}" class="fw-bold" th:classappend="${product.status.name()=='AVAILABLE'} ? 'text-primary' : 'text-danger' "></td>
											<td>
												<a th:href="@{UpdateProduct(id = ${product.id})}" class="btn btn-primary btn-sm">Update</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
