<html th:replace="~{Farmer/Farmerbase::layout(~{::main})}">
	<body>
		<main>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header bg-success py-2">
							<h4 class="text-center text-white m-0 fw-bold">Manage Your Orders</h4>	
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="example">
									<thead>
										<tr>
											<th>Sr. No.</th>
											<th>Product Name</th>
											<th>Price/Unit</th>
											<th>Quantity</th>
											<th>Total Amount</th>
											<th>Merchant Name</th>
											<th>Merchant Contact</th>
											<th>Merchant Address</th>
											<th>Order Date</th>
											<th>Delivery Date</th>
											<th>Status</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="order, srno : ${orderList}">
											<td th:text="${srno.index+1}"></td>
											<td th:text="${order.productName}"></td>
											<td th:text="${order.pricePerUnit}"></td>
											<td th:text="${order.quantity}"></td>
											<td th:text="${order.quantity * order.pricePerUnit}"></td>
											<td th:text="${order.merchant.name}"></td>
											<td th:text="${order.merchant.contactNumber}"></td>
											<td th:text="${order.merchant.address}"></td>
											<td th:text="${order.orderDate}"></td>
											<td>
												<span th:text="${order.deliveryDate}"></span>
												<span th:if="${order.deliveryDate == null}">No Records</span>
											</td>
											<td>
												<span th:text="${order.orderStatus}" class="fw-bold"></span>
											</td>
											<td class="text-center">
												<a onclick="return confirm('Are you sure want to cancel this order?')" th:href="@{CancelOrder(id = ${order.id})}" th:if="${order.orderStatus.name() == 'CONFIRMED'}" class="btn btn-danger btn-sm">Cancel Order</a>
												<a th:href="@{UpdateOrderStatus(id = ${order.id})}" th:if="${order.orderStatus.name() == 'CONFIRMED'}" class="btn btn-primary btn-sm">Dispatch Order</a>
												<a th:href="@{UpdateOrderStatus(id = ${order.id})}" th:if="${order.orderStatus.name() == 'DISPATCHED'}" class="btn btn-success btn-sm">Deliver Order</a>
												
												<span th:if="${order.orderStatus.name() == 'DELIVERED'}" style="font-size: 22px;">✅</span>
												<span th:if="${order.orderStatus.name() == 'CANCELLED'}" style="font-size: 22px;">❌</span>
											</td>
										</tr>
									</tbody>
									
								</table>
							</div>
						</div>
					</div>
				</div>	
			</div>
			
			<style>
				td,th{
					white-space: nowrap;
				}
			</style>
		</main>
	</body>
</html>